<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Estacionamentx - Erro</title>

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie - v2.1.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- header -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-between">
          <h1 class="logo mr-auto"><a th:href="@{/}">Estacionamentx</a></h1>
        </div>
      </div>

    </div>
  </header>
  <!-- End Header -->

  <!-- hero -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-12 acesso order-2 order-lg-1 d-flex flex-column justify-content-center text-center">
          <h1 th:text="'Erro ' + ${status}"></h1>
          <h2 class="text-xl-justify" th:text="${mensagem}"></h2>

          <a th:href="@{/}">
            <button class="btn btn-get-started w-25">Voltar a tela inicial</button>
          </a>
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->  

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>

</body>
</html>