<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Estacionamentx</title>

	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" />


	<!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap-select.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
  <link th:href="@{/assets/css/material-dashboard.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

      <div class="logo"><a th:href="@{/}" class="simple-text logo-normal">
          Estacionamentx
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{'/estacionamento/' + ${estacionamento.slug} }">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{'/estacionamento/' + ${estacionamento.slug} + '/vagas' }">
              <i class="material-icons">view_module</i>
              <p>Vagas</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <div class="content">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="javascript:;" th:text="${estacionamento.nome}">estacionamento</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span> 
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="btn btn-white btn-round btn-just-icon" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">directions_car</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" th:href="@{'/estacionamento/' + ${estacionamento.slug} }">Inicio</a>
                    <a class="dropdown-item" th:href="@{'/estacionamento/' + ${estacionamento.slug} + '/vagas' }">Vagas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/}">Sair</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Adicionar Vaga</h4>
                  <p class="card-category">Adicione uma nova vaga para o seu Estacionamento</p>
                </div>
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <form th:action="@{'/estacionamento/' + ${estacionamento.slug} + '/vagas' }" th:object="${vagaForm}" method="post">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Número</label>
                                <input type="text" pattern="\d+" th:field="*{numero}" th:classappend="${#fields.hasErrors('numero')} ? 'is-invalid'" class="form-control">
				                        <small class="error text-danger" th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></small>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <!-- <label class="">Categoria</label> -->
                                <select class="selectpicker w-100" th:field="*{categoria}" th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'" name="categoria">
                                  <option value="normal">Normal</option>
                                  <option value="individual">Individual</option>
                                </select>
				                        <small class="error text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></small>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="form-group bmd-form-group text-right">
                                <button type="submit" class="btn btn-primary pull-right">Adicionar</button>
                              </div>
                            </div>
                          </div>

                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row estacionamento">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Vagas Cadastradas</h4>
                </div>
                <div class="card-body">
                  <div class="row d-flex mx-auto">
                    <th:block th:each="vaga: ${vagas}">
                      <div class="box-vaga d-flex align-items-center flex-column" th:classappend="${vaga.disponivel} ? 'disponivel' : 'ocupada'">
                        <i class="material-icons">directions_car</i>
                        <span th:text="${vaga.numero}" class="text-center font-weight-bold">Numero</span>
                        <span th:text="${vaga.disponivel} ? 'Disponível' : 'Ocupada'" class="text-center">Disponibilidade</span>
                      </div>
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/vendor/material.dashboard/core/popper.min.js}"></script>
  <script th:src="@{/assets/vendor/material.dashboard/core/bootstrap-material-design.min.js}"></script>

  <!-- bootstrap -->
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap-selectpicker.js}"></script>

  <!-- material-dashboard -->
  <script th:src="@{/assets/vendor/material.dashboard/material-dashboard.js}"></script>

</body>

</html>